<div class="table-container">
  <table mat-table [dataSource]="empService.employees" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
    </ng-container>

    <ng-container matColumnDef="typeA">
      <th mat-header-cell *matHeaderCellDef> Type A </th>
      <td mat-cell *matCellDef="let employee"> {{employee.typeA}} </td>
    </ng-container>

    <ng-container matColumnDef="typeB">
      <th mat-header-cell *matHeaderCellDef> Type B </th>
      <td mat-cell *matCellDef="let employee"> {{employee.typeB}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let employee; let i = index">
        <button mat-button (click)="openEditPopup(i)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
